<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="{{ url_for('static', path='/style.css') }}" rel="stylesheet">
    <title>Fast API APP</title>
</head>
<body>
   <h1>Welcome to the Fast API APP</h1>
</body>
</html>