<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
    <title>Flask APP</title>
</head>
<body>
   <h1>Welcome to the Flask APP</h1>
</body>
</html>